* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(45deg, #488FB1, #C1F8CF);
}

.main > div {
    padding: 20px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    color: #363636;
}

.social_apps {
    display: flex;
    flex-direction: column;
}

.social_apps > div {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    transition: ease-in-out 0.2s;
}

.social_apps > div:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
}

span {
    font-size: 18px;
    margin-right: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    color: #ffffff;
    cursor: pointer;
}

.btn-fb {
    background-color: #533E85;
    transition: ease-in-out 0.2s;
}

.btn-fb:hover {
    background-color: #483477;
}

.btn-google {
    background-color: #DE3D2E;
    transition: ease-in-out 0.2s;
}

.btn-google:hover {
    background-color: #c22f22;
    transition: ease-in-out 0.2s;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

td:last-child{
    float: right;
}

.welcome {
    text-align: center;
}