* {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat';
     scroll-behavior: smooth;
}

.navbar {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     height: 65px;
     width: 100vw;
     background: #363636;
     z-index: 1;
}

.navbar > div:last-child {
     margin-right: 70px;
}

.logo {
     height: 30px;
     width: 115px;
     margin-left: 80px;
}

.links {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
}

.links a {
     color: #ffffff;
     font-size: 14px;
     padding: 10px;
     margin: 10px;
     text-decoration: none;
     transition: ease-in 0.2s;
}

.links a:hover {
     background-color: #f14b5e;
}

.container-main {
     height: 100vh;
     position: relative;
     background: url('../images/main-bg.png') right bottom no-repeat;
     background-size: cover;
}

.main-content {
     position: absolute;
     margin-left: 90px;
     top: 20%;
}

.main-heading {
     font-size: 100px;
     font-weight: 800;
     color: #ffffff;
}

.separator {
     width: 120px;
     height: 20px;
     background: linear-gradient(to right, #f14b5e, #FAAF5D);
     margin: 20px 0 20px 0;
}
.sub-heading {
     color: #ffffff;
     font-size: 23px;
}

.main-button {
     margin-top: 30px;
     float: right;
     padding: 20px 25px;
     font-weight: 500;
     background: none;
     border: 3px solid #f14b5e;
     color: #ffffff;
     font-size: 16px;
     text-decoration: none;
     transition: ease-in 0.2s;
}

.main-button:hover {
     background: #f14b5e;
}

.container-more{
     padding: 40px;
}

.title {
     margin-top: 20px;
     text-align: center;
     color: #000000;
     font-size: 50px;
}

.title-separator {
     width: 70px;
     height: 10px;
     background: linear-gradient(to right, #f14b5e, #FAAF5D);
     margin: auto;
}

.content {
     margin-top: 50px;
     display:flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
}

.content > div {
     width: 50%;
}

.content > div > p {
     text-align: justify;
     text-indent: 0.5in;
     margin-right: 40px;
     font-size: 20px;
}

.image-content {
     width: 100%;
     height: 600px;
     object-fit: cover;
}

.short-container {
     background: linear-gradient(to right, #f14b5e, #FAAF5D);
     width: 100%;
     position: relative;
}

.quote {
     width: 100%;
     margin: auto;
     text-align: center;
     color: #ffffff;
}

.quote > h1 {
     padding-top: 40px;
     font-size: 50px;
}

.quote > p {
     font-size: 20px;
     padding: 40px;
}

.footer {
     width: 100%;
     background: #363636;
}

.footer-container {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
}

.footer-container > div > h1 {
     padding-top: 40px;
     color: #ffffff;

}

.footer-container > div > img {
     height: 30px;
     width: 115px;
     padding-bottom: 40px;
}

.sns {
     display: flex;
     flex-flow: row nowrap;
     justify-content: center;
     align-items: center;
}

.sns > div {
     height: 60px;
     width: 60px;
     margin: 20px;
     background-color: #f14b5e;
     border-radius: 50px;
     text-align: center;
}

.sns > div > i {
     margin-top: 15px;
     font-size: 30px;
     color: #ffffff;
}

.section-header {
     padding-top: 65px;
     width: 100%;
     height: 250px;
     background: url("../images/bg.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
}

.section-title {
     top: 50%;
     width: 100%;
     text-align: center;
     position: absolute;
     color: #ffffff;
     font-size: 25px;
}

.content-section {
     padding: 40px
}

.content-details {
     padding: 40px;
     width: 50%;
     margin: auto;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
     margin-top: 40px;
     margin-bottom: 40px;
     font-size: 20px;
}

.pictures {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
}

.picures > div {
     margin: 20px;
     height: 300px;
     width:200px;
     background: #f14b5e;
}

.pictures > div > img {
     height: 300px;
     width: 200px;
     object-fit: cover;
}

.form {
     margin-top: 40px;
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     align-items: center;
}

.input-form {
     outline: none;
     margin: 10px;
     padding: 10px 10px;
     font-size: 20px;
     width: 300px;
     border: 3px solid #9b9b9b;
}

textarea {
     resize: none;
     height: 120px;
}

.btn-send {
     width: 100px;
     padding: 10px 20px;
     border: none;
     background: linear-gradient(to right, #f14b5e, #FAAF5D);
     color: #ffffff;
     font-weight: bold;
     border-radius: 50px;
}